body {
    display: none;
    margin: 10px;
    height: calc(100dvh - 20px);
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.location {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: white;
    border: 0.5px solid #2c3e50;
    border-radius: 10px;
    font-size: 18px;
    font-family: sans-serif;
    width: auto;
    max-width: 500px;
}

.position-info,
.heading-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.position-info h2,
.heading-info h2 {
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 5px;
}

.position-info span,
.heading-info span {
    font-weight: bold;
}

.pos-x-input,
.pos-y-input,
.pos-z-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.destination {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.destination h2 {
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.positions {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10px;
}

.pos-x,
.pos-y,
.pos-z {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.pos-x strong {
    color: red;
}

.pos-y strong {
    color: green;
}

.pos-z strong {
    color: blue;
}

.pos-x input,
.pos-y input,
.pos-z input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background: #2c3e50;
    color: white;
    font-size: 16px;
    width: 100%;
}

.btns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.btns button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #2c3e50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s;
    width: 100%;
}
.btns button:hover {
    background: #34495e;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #2c3e50;
}
